{% extends 'base.html.twig' %}


{% block main %}
<div class="container flex">
{% for glace in glaces %}
        <div class="card">
            <h2>{{ glace.nom }}</h2>
        </div>
    {% endfor %}
</div>
{% endblock %}
