body {
    margin: 0 auto;
    padding: 0;
}
.container {
    margin: 0 auto;
    padding: 0;
    width: 80%;
}
ul {
    display: flex;
    justify-content: center;
    gap: 6vh;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
    transition: all 4s ease-in-out;
}
a:hover {
    border-bottom: 1px solid black;
}
button {
    margin: 2vh 11vh;
}
label {
    margin: 0 1vh 0 0;
}
.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}
.card {
    width: 33%;
}
.header {
    background-color: lightblue;
    padding-bottom: 2vh;
}
.form-add {
    margin: 2vh 0 0 0;
}